.row-header{
    margin: 0px auto;
    padding: 0px;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    min-height: 400px;
}

.footer{
    background-color: #B2EBF2;
    margin: 0px auto;
    padding: 20px 0px;
}

.jumbotron{
    padding: 50px 20px 20px 20px;
    margin: 0px auto;
    background: #00ACC1;
    color: floralwhite;
}

address{
    font-size: 80%;
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark{
    background-color: #006064;
}